body {
    background-color:#FFFBF8;
  }

  h1 {
    font-family: Helvetica;
    font-size: 5rem;
    color: black;
    text-align: center;
  }
  
  p {
    font-family: Helvetica;
    font-size: 3.75rem;
    color: black;
    text-align: center;
  }